<div class="container">
    <div class="jumbotron py-3 mt-5 h-50 text-center">
        <h2 class="">Información adicional:</h2>
        <ul>
            <li><strong>Argumentos de entrada:</strong><br>{{info.args}}</li>
            <li><strong>Nombre de la plataforma (sistema operativo):</strong><br> {{info.platform}}</li>
            <li><strong>Versión de node.js:</strong><br> {{info.version}}</li>
            <li><strong>Memoria total reservada (rss):</strong><br> {{info.memory}}</li>
            <li><strong>Path de ejecución:</strong><br> {{info.path}}</li>
            <li><strong>Process id:</strong><br> {{info.pid}}</li>
            <li><strong>Base de Datos:</strong><br> {{info.dataBase}}</li>
            <li><strong>Carpeta del proyecto:</strong><br> {{info.folder}}</li>
        </ul>
    </div>
</div>